* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  height: 100vh;
  display: grid;
  grid-template-columns: 275px 3fr 1fr;
  grid-template-rows: 125px 1fr 250px;
  grid-gap: 10px;
  grid-template-areas: 
  'header header header'
  'content content content'
  'footer footer footer';
}

header {
  grid-area: header;
  background-color: #03a3df;
  color: white;
}

header a:link, 
header a:visited, 
header a:hover, 
header a:focus, 
header a:active {
  color: white;
}

main {
  grid-area: content;
  margin: 0 10px;
}

footer {
  grid-area: footer;
}

footer a:link, 
footer a:visited, 
footer a:hover, 
footer a:focus, 
footer a:active {
  color: white;
}

h1, h2, h3, .call-out {
  font-weight: bold;
}

h1 {
  font-size: 40px;
  line-height: 2.0;
}

h2 {
  font-size: 24px;
  line-height: 1.5;
}

h3 {
  font-size: 17px;
  line-height: 1.5;
}

p {
  margin-bottom: 1em;
}
.quotes {
  font-size: 30px;
  color: #035C7C;
}

.call-out {
  font-size: 14px;
  font-variant: small-caps;
  color: #035C7C;
}

.instructor-certifications {
    font-size: 14px;
    font-variant: small-caps;
    color: #F9F1D7;
}

.header-style {
  display: inline;
}

.footer-nav a {
  padding: 1rem;
  text-decoration: none;
}

.upper-nav {
  list-style: none;
  display: inline;
  justify-content: flex-end;
}

.upper-nav ul {
  list-style: none;
  display: inline;
  justify-content: flex-end;
}

.upper-nav li {
  float: right;
}

.upper-nav a {
  padding: 1rem;
  text-decoration: none;
}

.instructor-grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  grid-template-areas: 
  'instructor-one instructor-one instructor-two instructor-two'
  'instructor-three instructor-three instructor-four instructor-four';
  padding-bottom: 1rem;
}

#instructor-1 {
  grid-area: instructor-one;
}

#instructor-2 {
  grid-area: instructor-two;
}

#instructor-3 {
  grid-area: instructor-three;
}

#instructor-4 {
  grid-area: instructor-four;
}

.instructor-grid::after {
    content: "";
    clear: both;
    display: table;
}

hr {
  border-width: 1px;
  border-style: solid;
  border-color:#F9F1D7;
  ;
}

.single-instructor {
  padding: 1rem;
  background-color: #1b447f;
  color: white;
}

.instructor-photo {
  width: 40%;
  float: left;
}

/* video {
  display:block;
  width: 640px;
} */
.page-footer {
  color: white;
  background-image: url("../graphics/footerImage.jpg");
  background-size: cover;
  /* grid-auto-flow: */
}

.footer-nav {
  list-style: none;
  display: inline;
  justify-content: flex-end;
}

.footer-nav ul {
  list-style: none;
  display: inline;
  justify-content: flex-end;
}

.footer-nav li {
  float: right;
}

.footer-nav a {
  padding: 1rem;
  text-decoration: none;
}

.footer-copyright {
  text-align: right;
}

.hidden {
  position: relative;
  left: -100000px;
  top: auto;
}

.hidden:focus {
  left:0;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;