* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

h1, h2, h3, .call-out {
  font-weight: bold;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 17px;
}

.quotes {
  font-size: 30px;
  color: #03a3df;
}

.call-out {
  font-size: 14px;
  font-variant: small-caps;
  color: 03a3df;
}

.col {
    float: left;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.one_column {
  width: 8.33%;
}

.two_column {
  width: 16.66%;
}

.three_column {
  width: 25%;
}

.four_column {
  width: 33.33%;
}

.five_column {
  width: 41.66%;
}

.six_column {
  width: 50%;
}

.seven_column {
  width: 58.33%;
}

.eight_column {
  width: 66.66%;
}

.nine_column {
  width: 75%;
}

.ten_column {
  width: 83.33%;
}

.eleven_column {
  width: 91.66%;
}

.twelve_column {
  width: 100%;
}

.header-style {
  display: inline-block;
  background-color: #03a3df;
  height: 150px;
  color: white;
  width: 100%;
  padding: 5px;
}

.upper-nav ul {
  list-style: none;
  display: inline;
  justify-content: flex-end;
}

.upper-nav li {
  float: right;
}

.upper-nav a {
  padding: 1rem;
  text-decoration: none;
}

footer {
  color: white;
  background-image: url("../graphics/footerImage.jpg");
  background-size: cover;
  height: 300px;
  width: 100%;

}
.footer-nav {
  display: inline-block;
}

.footer-nav ul {
  list-style: none;
  display: inline;
  justify-content: flex-end;
}

.footer-nav li {
  float: right;
}

.footer-nav a {
  padding: 1rem;
  text-decoration: none;
}
